<!DOCTYPE html>
<html>

    <head>
    	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <title>Result</title>
    </head>

    <body class="container">
        <br>
        <h4>PASS 2 : Object Program</h4>
        <br>
        <textarea name="program" class="form-control rounded-0" rows="25">{{ data }}</textarea>
        <br>
        <a href="/"><input type="submit" value="HOME" class="btn btn-primary"></a>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>
